/* Home.css */

body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 100px;
  background-color: #f9f9f9;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
}

.header {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.waving-hand {
  position: absolute;
  top: 78%;
  left: calc(70% + 10px);
  transform: translateY(-50%);
  width: 50px;
}

.intro-text {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}

.location-pin {
  width: 20px;
  vertical-align: middle;
}

.glitch {
  position: relative;
  width: 100%;
  bottom: 40px;
  height: 350px;
  background: url(..//images/portraitNoBG.png);
  background-size: cover;
}

.glitch:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 350px;
  background: url(../images/portraitNoBG.png);
  background-size: cover;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  animation: glitch2 10s linear infinite;
}

.glitch:hover:before {
  animation: glitch1 1s linear infinite;
}

@keyframes glitch1 {
  0% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }
  10% {
    background-position: 5px 0;
  }
  20% {
    background-position: -5px 0;
  }
  30% {
    background-position: 15px 0;
  }
  40% {
    background-position: -5px 0;
  }
  50% {
    background-position: -25px 0;
  }
  60% {
    background-position: -50px 0;
  }
  70% {
    background-position: 0 -20px;
  }
  80% {
    background-position: -60px -20px;
  }
  81% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 0;
    filter: hue-rotate(360deg);
  }
}

@keyframes glitch2 {
  0% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }
  10% {
    background-position: 15px 0;
  }
  15% {
    background-position: -15px 0;
  }
  20% {
    filter: hue-rotate(360deg);
  }
  25% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }
  100% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }
}

.social-icon path {
  stroke: black;
  transition: stroke 0.3s ease-in-out;
}

.social-icon:hover path {
  stroke: #007bff;
}
