/* NavTabs.css */

.navbar {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Distribute items horizontally */
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}

.logo img {
  height: 50px; /* Set the height of the logo */
  width: auto; /* Maintain aspect ratio */
}

.nav-tabs {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-item {
  padding: 15px;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease;
}

.nav-item:hover {
  border-color: #007bff;
}

.nav-item.active {
  background-color: #007bff;
}

.nav-item.active a {
  color: #fff;
}

.nav-item a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}
